#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

#container{
  display: flex;
  place-items: center;
  flex-direction: column;
}

#titleContainer{
  display: flex;
  align-items: center;
  gap: 10px;
}

#titleContainer img{
  width: 80px;
}

#contentContainer{
  /*display: grid;
  grid-template-columns: auto auto auto auto auto auto;*/

  width: 95%;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  max-height: 500px;
  overflow-y: auto;

}
.pokeCard{
  background-color: #e2e2e2;
  padding: 20px;
  border-radius: 7px;
  border: 8px solid #c2c2c2;
  transition: 0.4s;
}

.pokeCard:hover {
  transform: scale(1.1);
}

.pokeCard h3{
  margin: 0;
  color: #2b2b2b;
}

.pokeCard span{
  color: #2b2b2b;
}
.pokeCard img{
  width: 150px;
}